## 1. 전처리

1. 각 매장 마다의 리뷰 리스트를 나누고
2. null값 확인
3. 한글빼고 삭제
4. 중복제거
5. 길이 10이하 텍스트 제거
5. 레이블링

In [1]:
import re
import pandas as pd
from tqdm import tqdm
from konlpy.tag import Okt
#from pykospacing import Spacing
from collections import Counter

In [2]:
import numpy as np
import pandas as pd

In [3]:
import json

with open('./naver_횟집_by_metropolitan.json','r',encoding='utf-8') as f:
    data = json.load(f)

In [4]:
#매장의 개수
len(data)

1688

In [5]:
#1. 각 매장 마다의 리뷰 리스트를 나누고
total_review = list()
import pandas as pd
for store_info in data.values():
    total_review.extend(store_info['review'])

In [6]:
# 전체 리뷰 개수
len(total_review)

155212

In [7]:
#데이터 프레임 생성
df = pd.DataFrame(total_review, columns=['Review'])

In [8]:
df

                                                   Review
0       지금까지 다녀봤던 참치집 중 부위가 가장 좋았던거 같아요! 어묵탕 샐러드 생선조림 ...
1       처음 들어갈땐 사장님이 계신거같더니 먹는 중에는 퇴근하셨나? 벨을 눌러도 안오네요ㅋ...
2       가족들 다 참치회를 좋아해서 생일겸 맛있는 참치회 먹으려고 집근처로 찾아보던중에 알...
3       일등참치 맛집참치 가성비참치 최고참치 증독참치 구청뒤쪽에서 신설동으로 계속 딸라다닐...
4                                           음식이 깔끔하고 맛있네요
...                                                   ...
155207                                    깨끗하고 친절해요 맘에듭니다
155208                                               친절해요
155209                                    깨끗하고 친절해요 맘에듭니다
155210                                               친절해요
155211  주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...

[155212 rows x 1 columns]

In [9]:
# null값 확인
df.isnull().sum()

Review    0
dtype: int64

In [10]:
#여러 공백을 하나의 공백으로 줄인다.
import re
def apply_regular_expreesion(text):
    hangul = re.compile('[^ 가-힣]')
    #한글이 아닌 문자 제거
    result = hangul.sub('', text) 
    #1개 이상의 공백 -> 1개의 공백
    result = re.sub(' +',' ', result)
    return result

df['Review'] = df['Review'].apply(lambda x : apply_regular_expreesion(x))

In [11]:
tmp = df[df['Review']=='']
tmp

       Review
29
102
114
128
130
...       ...
155163
155176
155180
155181
155193

[5223 rows x 1 columns]

In [12]:
#빈 문자열 -> NaN 치환
df['Review'].replace('', np.nan, inplace=True)
# null값 확인
print(df.isnull().sum())
df.dropna(inplace=True)
len(df)

Review    5223
dtype: int64

149989

In [13]:
df.duplicated(['Review']).sum()

54293

In [14]:
#중복 제거
df = df.drop_duplicates(['Review'])
print(df.duplicated(['Review']).sum())

0

In [15]:
print(df.isnull().sum())

Review    0
dtype: int64

In [16]:
len(df)

95696

In [17]:
# 10개 이하 시퀀스 제거
df = df[df['Review'].map(lambda x : len(str(x)) > 10) ]

In [18]:
df = df.reset_index(drop=True)

In [19]:
df

                                                  Review
0      지금까지 다녀봤던 참치집 중 부위가 가장 좋았던거 같아요 어묵탕 샐러드 생선조림 순...
1      처음 들어갈땐 사장님이 계신거같더니 먹는 중에는 퇴근하셨나 벨을 눌러도 안오네요 보...
2      가족들 다 참치회를 좋아해서 생일겸 맛있는 참치회 먹으려고 집근처로 찾아보던중에 알...
3      일등참치 맛집참치 가성비참치 최고참치 증독참치 구청뒤쪽에서 신설동으로 계속 딸라다닐...
4                                          음식이 깔끔하고 맛있네요
...                                                  ...
83564                            방어 넘 양도 많고 짱이네요포장도 갠찬아요
83565                                       횟감이 신선하고 쫀득한
83566                    사장님 친절하시고 음식도맛있고 좋아요서비스도 엄청 좋아요
83567                                    깨끗하고 친절해요 맘에듭니다
83568  주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...

[83569 rows x 1 columns]

# 2. 레이블링
긍정 - 1
부정 - 0 / 긍정 + 부정이면 부정으로 취급
관계없는 시퀀스 - 2 이상의 수

In [10]:
#현재 인덱스 2500까지 했다.
for i in range(df['Label'].count(), 2500):
    print(f'{i}번째 인덱스')
    print(df.loc[i,'Review'])
    label = input("레이블 입력하세요: ")
    label = int(label)
    df.loc[i,'Label'] = label

2993번째 인덱스
나오는 기타 요리들도 너무 맛있고 무엇보다 대게가 좋습니다 찌시는 방법도 직접 솥에 쪄주셔서 정성이 들어가 더 맛있는 것 같아요 너무 친절하셔서
레이블 입력하세요: 1
2994번째 인덱스
너무 맛있게 잘 먹었습니다 사장님도 친절하시고 무엇보다 킹크랩이 엄청 살도 꽉차고 진짜 진짜 맛있습니다 무조건 재방문각입니다
레이블 입력하세요: 1
2995번째 인덱스
동교동 창천동 모두 먹었던 곳에서 제일 만족한 곳이에요 서비스는 물론이고 기본 채소 퀄리티부터가 정말 진짜 추천 많이합니다 기분좋아지는 것
레이블 입력하세요: 1
2996번째 인덱스
제가 사진찍는 기술이 후져서 실제 나온 것보다 못찍어서 아쉽네요 잘먹었습니다
레이블 입력하세요: 1
2997번째 인덱스
대게맛의 진수 서비스도 많고 정말 맛있습니다
레이블 입력하세요: 1
2998번째 인덱스
먹기 좋게 손쉽게 손질되어 나오고 속살도 꽉 차서 진짜 맛있게 잘 먹었습니다신선해서 그런지 비린내도 전혀 안났어요
레이블 입력하세요: 1
2999번째 인덱스
참 맛있게 먹고 갑니다
레이블 입력하세요: 1

In [10]:
# df_tmp 저장
import pickle
with open('df_tmp.pickle', 'rb') as f:
    df = pickle.load(f)

In [11]:
df

                                                  Review  Label
0      지금까지 다녀봤던 참치집 중 부위가 가장 좋았던거 같아요 어묵탕 샐러드 생선조림 순...    1.0
1      처음 들어갈땐 사장님이 계신거같더니 먹는 중에는 퇴근하셨나 벨을 눌러도 안오네요 보...    0.0
2      가족들 다 참치회를 좋아해서 생일겸 맛있는 참치회 먹으려고 집근처로 찾아보던중에 알...    1.0
3      일등참치 맛집참치 가성비참치 최고참치 증독참치 구청뒤쪽에서 신설동으로 계속 딸라다닐...    1.0
4                                          음식이 깔끔하고 맛있네요    1.0
...                                                  ...    ...
83564                            방어 넘 양도 많고 짱이네요포장도 갠찬아요    NaN
83565                                       횟감이 신선하고 쫀득한    NaN
83566                    사장님 친절하시고 음식도맛있고 좋아요서비스도 엄청 좋아요    NaN
83567                                    깨끗하고 친절해요 맘에듭니다    NaN
83568  주인님 넘넘친절하고 확실하게하시내요 그리고 회는기계로설지안고 손은로직접설어맛이확실히...    NaN

[83569 rows x 2 columns]

In [16]:
import pandas as pd
import numpy as np
df.value_counts(['Label']).sum()

2500

In [32]:
# 5000개의 데이터 랜덤 추출
tmp = df.sample(n=5000, replace = False, random_state=24)

In [33]:
tmp.count()

Review    5000
Label      150
dtype: int64

In [38]:
# 기존의 순차적 레이블링 진행했던 2500개의 레코드 df
# 새롭게 비복원 추출로 랜덤하게 뽑은 5000개 tmp를 합친다.
df = pd.concat([df.iloc[:2500,:], tmp], ignore_index=True)

In [39]:
df.count()

Review    7500
Label     2650
dtype: int64

In [41]:
# 중복제거
df.drop_duplicates(['Review'],ignore_index=True, inplace=True)
df.count()

Review    7350
Label     2500
dtype: int64

In [79]:
for i in range(df['Label'].count(), 3000):
    print(f'{i}번째 인덱스')
    print(df.loc[i,'Review'])
    label = input("레이블 입력하세요: ")
    label = int(label)
    df.loc[i,'Label'] = label

2940번째 인덱스
반찬들 하나하나 다 잘나왔어요 청어구이보다는 꽁 치가 더 좋을것 같긴 한데 방어 먹으러 왔는데 메뉴에 없는 방어참가자미 반반으로 해주셔
레이블 입력하세요: 1
2941번째 인덱스
방어우럭 포장했는데 광어우럭이 있네요 바쁠때 아니었는데 포장하기전에 확인해주시면 좋겠어요
레이블 입력하세요: 1
2942번째 인덱스
회가 너무 신선하고 맛있었어요
레이블 입력하세요: 1
2943번째 인덱스
혼밥 해서 죄송하지만 청결하고 친절하고음식도 신선하고 너무 좋아요 또갈게요
레이블 입력하세요: 1
2944번째 인덱스
위생 상태도 너무 좋고 맛있게 잘 먹었어요 그날 하 루 배가 터질 지경이었어요 상다리가 부러지게 나와서 회 상태도 너무 신선하고 좋더라
레이블 입력하세요: 1
2945번째 인덱스
항상친절하고 좋아요 노량진 갈때마다 무조건 청해진
레이블 입력하세요: 1
2946번째 인덱스
모듬회하고 물회 너무 맛있게 먹었어요초밥도 팔던데 다음에 재방문해서 먹어보려구요
레이블 입력하세요: 1
2947번째 인덱스
너무 맛있게 먹고 갓네요 서비스나 회 신선도나친절함이나 최고에요
레이블 입력하세요: 1
2948번째 인덱스
룸으로 배정 받아서 더 좋은시간 보냈네요
레이블 입력하세요: 1
2949번째 인덱스
맛있어요 점심특선 라멘은 좀 그랬어요
레이블 입력하세요: 1
2950번째 인덱스
차 차로 오는 사람들이 많다보니 많이 시끄럽고 정신이 없어요
레이블 입력하세요: 0
2951번째 인덱스
자주가는 참치집입니다 맛 친절 양 질 다 좋아용
레이블 입력하세요: 1
2952번째 인덱스
최고였네요 싱싱하고 가성비 좋았습니다 기분 좋게 먹고 나왔어요 친구들에게도 추천하고 싶은 집입니다
레이블 입력하세요: 1
2953번째 인덱스
광어포차 좋아요친절하고 맛있어요
레이블 입력하세요: 1
2954번째 인덱스
회랑 새우튀김도 매운탕도 맛있었어요
레이블 입력하세요: 1
2955번째 인덱스
맛있고 가격도 좋아요
레이블 입력하세요: 1
2956번째 인덱스
여러가지 종류의 회와 해산물이 들어있어서 여러맛 을 느낄수 있었어요 싱싱하고 새콤매콤 맛있고 기본 안주반찬도 맛있어서 술안주로 최고였어
레이블 입력하세요: 1
2957번째 인덱스
특히 전복죽이 맛있어요
레이블 입력하세요: 1
2958번째 인덱스
밴댕회무침에 반했어요
레이블 입력하세요: 1
2959번째 인덱스
회도 싱싱하고 물회도 넘 맛있어요 재방문 의사 퍼
레이블 입력하세요: 1
2960번째 인덱스
해물탕 맛있어요해물이 무지 푸짐해요감동했어요
레이블 입력하세요: 1
2961번째 인덱스
리뷰 보고 왔는데 너무 좋아서 리뷰를 쓰게 되네요 일단 해운대 쪽 조개구이집 자주 다녔는데 주변에서 제일 친절하고 신선한 것 같아요 그리고 양도
레이블 입력하세요: 1
2962번째 인덱스
고등어 구이가 최고 예요 알탕은 소소
레이블 입력하세요: 1
2963번째 인덱스
내부가 넓고 깔끔해요 양 많고 맛도 좋아요 칼국수 진짜 맛나요 물회에 소면나와요
레이블 입력하세요: 1
2964번째 인덱스
싸고맛있고 써비스좋음
레이블 입력하세요: 1
2965번째 인덱스
사장님이 너무 친절하시고 밥도 정말 맛있어요 부모님모시고 가기도 좋을것 같아요
레이블 입력하세요: 1
2966번째 인덱스
맛있게 잘 먹었습니다 겨울에 먹는 회가 역시 맛있습니다 사장님이 친절하고 서비스 듬뿍주셔서 기분좋게 먹고 왔네요
레이블 입력하세요: 1
2967번째 인덱스
다시 호남식당에서 포장해요 소라 고동 오징어 푸짐합니다
레이블 입력하세요: 1
2968번째 인덱스
킹크랩대게 세트 완전 좋아요추천만족합니다
레이블 입력하세요: 1
2969번째 인덱스
좋아하던 곳이라 자주 방문했었는데 이번엔 많이 실 망스럽습니다 원 인분을 주문했는데 회 양 은 너무 적고 해산물 사이즈도 작고 소스류는
레이블 입력하세요: 0
2970번째 인덱스
한과장님이 특별히 친절하세요
레이블 입력하세요: 1
2971번째 인덱스
올해 처음 홍게맛본날살이 꽉 차서 먹을만했어요
레이블 입력하세요: 1
2972번째 인덱스
오징어회와 오징어무침 궁합좋게 잘먹었습니다
레이블 입력하세요: 1
2973번째 인덱스
개별로 나와있는데로 주지도 않고 위아래 뭐 따로 있는것같은데 서로 의사소통도 안되는거 같구요 뭐 는 없다 없다 새우튀김기다리는데 다먹
레이블 입력하세요: 0
2974번째 인덱스
회도 두툼하고 맛있는데 미역국이 짱 맛있어요
레이블 입력하세요: 1
2975번째 인덱스
처음 아무 생각없이 왔다가 친구랑 말도 안하고 먹기만 했어요 짱맛있어요 직원분도 엄청 친절하세용
레이블 입력하세요: 1
2976번째 인덱스
가격대비 음식양이 많고 맛나요
레이블 입력하세요: 1
2977번째 인덱스
이렇게 만족스러운 장어구이는 처음이에요 많이 좋아하는 메뉴가 아닌데도 배가 터질때까지 먹었어요 존맛
레이블 입력하세요: 1
2978번째 인덱스
음식이 신선한 느낌이라모임하기 좋아요
레이블 입력하세요: 1
2979번째 인덱스
친절하시구 조개구이도 양도 많고 마싯었어요 월미도 오셔서 조개구이나 횟집 고민하시지 마식고 여기 가셔도 좋을 거 같아요
레이블 입력하세요: 1
2980번째 인덱스
싱싱한 제철 생선들이 많아요
레이블 입력하세요: 1
2981번째 인덱스
수산물 시장에서 회 사서 올라가면 셋팅해줘요 수산물 시장가면 항상 여기가요
레이블 입력하세요: 1
2982번째 인덱스
와 진짜 바닷가 근처에서 비싼 가격주고 먹을 때마다 그 가격대비 너무 적고 퀄리티도 낮았는데 이런 맛 집 처음이예요 일단 스키가 엄청 많고 리필도
레이블 입력하세요: 0
2983번째 인덱스
랍스터칼국수해물파전 맛있게 먹었네요
레이블 입력하세요: 1
2984번째 인덱스
대박 완전 맛있었어요 푸짐하게 나온 스끼다시부 터 신선하고 쫄깃쫄깃한 회 사장님과 직원분들은 친절하게 대해주시공 정말 배불리 잘 먹었습
레이블 입력하세요: 1
2985번째 인덱스
가성비 좋은 횟집이었습니다
레이블 입력하세요: 1
2986번째 인덱스
원 코스 인 먹고 왔어요 다양한 해삼물과 회를 함께 즐길 수 있는 곳입니다 너무 친절하시고 잘 먹고 왔습니다
레이블 입력하세요: 1
2987번째 인덱스
추운날씨에 따뜻히가한난로가참잘어울리네요
레이블 입력하세요: 1
2988번째 인덱스
깔끔하고 친절하고 맛도 괜찮았어요
레이블 입력하세요: 1
2989번째 인덱스
스끼다시가 진짜 푸짐하고 무한으로 리필해 주시네요 그리고 메인메뉴 회가 도톰하니 맛있어요 기본으로 제공해주는 김초밥 맛나요 그리고 와사
레이블 입력하세요: 1
2990번째 인덱스
해물탕이 얼큰하고 맛있네요
레이블 입력하세요: 1
2991번째 인덱스
차장분 말고는 스시만드시는분 마스크도 안쓰고 핸드폰만지고 좀 찝찝했어요 우동은 방금끓여나왔는데 오래 끓인것 처럼 면이 불어서 나왔네요
레이블 입력하세요: 0
2992번째 인덱스
사장님도 너무착하시고 조개 양이 많아서 푸짐하게먹어요
레이블 입력하세요: 1
2993번째 인덱스
가성비 최고의 맛있는 횟집이네요 생선회도 도톰하니 좋고 다양한 해산물에 시원한 지리탕까지 거기에 친철한 직원분들 애들 신나게 노는 놀이방도
레이블 입력하세요: 1
2994번째 인덱스
치자면사리 신박해요면사리추가 못참지 못참지증말증말 맛있어요
레이블 입력하세요: 1
2995번째 인덱스
사시미 종류도 많고 양도 좋아용
레이블 입력하세요: 1
2996번째 인덱스
절대 가지마세요 점도 못줌 성남동 관평동 용문동 에서 자주 애용하면서 체인점이라도 막연한 믿음으 로 간 건데 이게 멍게 만원 어치고 포장 상태
레이블 입력하세요: 0
2997번째 인덱스
양도 엄청 많고 맛잇어용
레이블 입력하세요: 1
2998번째 인덱스
너무 맛있어요 사장님도 친절하셔서 기분 좋게 먹다갑니다
레이블 입력하세요: 1
2999번째 인덱스
을왕리 횟집 찾으시는분들 고고고 진짜 맛있습니다 가격도 좋고
레이블 입력하세요: 1

In [84]:
df.value_counts(['Label']).sum()

3000

In [87]:
result = df.iloc[:3000,:]
result

                                                 Review  Label
0     지금까지 다녀봤던 참치집 중 부위가 가장 좋았던거 같아요 어묵탕 샐러드 생선조림 순...    1.0
1     처음 들어갈땐 사장님이 계신거같더니 먹는 중에는 퇴근하셨나 벨을 눌러도 안오네요 보...    0.0
2     가족들 다 참치회를 좋아해서 생일겸 맛있는 참치회 먹으려고 집근처로 찾아보던중에 알...    1.0
3     일등참치 맛집참치 가성비참치 최고참치 증독참치 구청뒤쪽에서 신설동으로 계속 딸라다닐...    1.0
4                                         음식이 깔끔하고 맛있네요    1.0
...                                                 ...    ...
2995                                  사시미 종류도 많고 양도 좋아용    1.0
2996  절대 가지마세요 점도 못줌 성남동 관평동 용문동 에서 자주 애용하면서 체인점이라도 ...    0.0
2997                                      양도 엄청 많고 맛잇어용    1.0
2998                     너무 맛있어요 사장님도 친절하셔서 기분 좋게 먹다갑니다    1.0
2999                  을왕리 횟집 찾으시는분들 고고고 진짜 맛있습니다 가격도 좋고    1.0

[3000 rows x 2 columns]

In [93]:
result = result.astype({'Label':'int'})

In [94]:
result

                                                 Review  Label
0     지금까지 다녀봤던 참치집 중 부위가 가장 좋았던거 같아요 어묵탕 샐러드 생선조림 순...      1
1     처음 들어갈땐 사장님이 계신거같더니 먹는 중에는 퇴근하셨나 벨을 눌러도 안오네요 보...      0
2     가족들 다 참치회를 좋아해서 생일겸 맛있는 참치회 먹으려고 집근처로 찾아보던중에 알...      1
3     일등참치 맛집참치 가성비참치 최고참치 증독참치 구청뒤쪽에서 신설동으로 계속 딸라다닐...      1
4                                         음식이 깔끔하고 맛있네요      1
...                                                 ...    ...
2995                                  사시미 종류도 많고 양도 좋아용      1
2996  절대 가지마세요 점도 못줌 성남동 관평동 용문동 에서 자주 애용하면서 체인점이라도 ...      0
2997                                      양도 엄청 많고 맛잇어용      1
2998                     너무 맛있어요 사장님도 친절하셔서 기분 좋게 먹다갑니다      1
2999                  을왕리 횟집 찾으시는분들 고고고 진짜 맛있습니다 가격도 좋고      1

[3000 rows x 2 columns]

In [98]:
result['Label'].values

array([1, 0, 1, ..., 1, 1, 1])

In [101]:
# 관계없는 리뷰 삭제
drop_index = result[result['Label'] > 1].index
result.drop(drop_index,inplace=True)

In [102]:
result.reset_index(drop=True,inplace=True)

In [103]:
result.value_counts(['Label'])

Label
1        2405
0         527
dtype: int64

In [105]:
#객체 저장
import pickle
with open('result.pickle', 'wb') as f:
    pickle.dump(result,f)