In [2]:
import pandas as pd
import numpy as np

In [3]:
ex_dict = {'a': [1,2,3], 'b': [4,5,6], 'c':[7,8,9]}
pd_data1 = pd.DataFrame.from_dict(ex_dict) # orient='columns'로 되어 있어 키값이 열레이블
pd_data1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
# 딕셔너리의 키 값을 행레이블로 설정
pd_data2 = pd.DataFrame.from_dict(ex_dict, orient='index')
pd_data2

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [10]:
ex_dict2 = {1 : {'a' : [1,2,3]},2 : {'b' : [1,2,3]}, 3: {'c' : [1,2,3]} }

In [9]:
pd_data3 = pd.DataFrame.from_dict(ex_dict2,orient='index')
pd_data3

           a          b          c
1  {1, 2, 3}        NaN        NaN
2        NaN  [1, 2, 3]        NaN
3        NaN        NaN  [1, 2, 3]

In [11]:
pd_data4 = pd.DataFrame.from_dict(ex_dict2)

In [12]:
pd_data4

           1          2          3
a  [1, 2, 3]        NaN        NaN
b        NaN  [1, 2, 3]        NaN
c        NaN        NaN  [1, 2, 3]

In [13]:
#DataFrame의 from_records는 입력으로 튜플의 리스트, 구조체(dict,list,set)
ex_ndarray = np.array([(0,1,'str0'), (2,3,'str1')], dtype = [('a','i8'),('b','f8'),('c','S10')])

In [16]:
ex_ndarray

array([(0, 1., b'str0'), (2, 3., b'str1')],
      dtype=[('a', '<i8'), ('b', '<f8'), ('c', 'S10')])

In [17]:
pd_data3  = pd.DataFrame.from_records(ex_ndarray)

In [18]:
pd_data3

   a    b        c
0  0  1.0  b'str0'
1  2  3.0  b'str1'

In [19]:
pd_data4  = pd.DataFrame.from_records(ex_ndarray, index='c')

In [20]:
pd_data4

         a    b
c
b'str0'  0  1.0
b'str1'  2  3.0