# 환경 설정

In [37]:
import sys # 시스템
import os  # 시스템

# 데이터 다루기
import pandas as pd
import numpy as np

# selenium 크롤링
from selenium import webdriver  
from selenium.webdriver import ActionChains as AC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [38]:
# beautifulsoup 크롤링
import requests
from bs4 import BeautifulSoup

# lxml 크롤링
import lxml.html

# 시간 조절
import time

# 시간 측정
from tqdm import notebook

# 정규표현식
import re

# 경고 무시
import warnings
warnings.filterwarnings('ignore')

In [39]:
# 지역 키워드를 입력하기
keyword = '횟집'

# page 정하기
page = 1

In [40]:
# 크롬창 띄우기
driver = webdriver.Chrome('./chromedriver')
driver.maximize_window() # 창 최대화

# 키워드가 입력된 망고플레이트 사이트에 들어가기
driver.get(" https://www.mangoplate.com/search/{0}?keyword={0}&page={1}".format(keyword, page)) 
time.sleep(2)

In [41]:

# 광고창 없애기

# 광고창 iframe 접근하기
driver.switch_to.frame("google_ads_iframe_/395211568/init/desktop_all_0")

# '다시 보지 않기' 버튼 클릭하기
element = '#ad > div > button.ad_btn.ad_block_btn'
driver.find_element(By.CSS_SELECTOR,element).click()

In [42]:
driver.switch_to.default_content()

In [43]:
 print(driver.window_handles)

['CDwindow-1E5AD26BD3AF25A7CE7C79FBAEB1C491']

In [44]:
# 첫 번째 음식점 클릭
driver.find_element(By.CSS_SELECTOR,'div.info > a').click()

In [47]:
# 가게 이름 크롤링
element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.restaurant_title_wrap > span > h1'
title_raw = driver.find_element(By.CSS_SELECTOR,element)
title = title_raw.text
print(title, type(title))

미영이네식당 <class 'str'>

In [49]:
# 가게 전체 평점 점수 크롤링
element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.restaurant_title_wrap > span > strong > span'
total_raw = driver.find_element(By.CSS_SELECTOR,element)
total = total_raw.text
print(total, type(total))

4.7 <class 'str'>

In [51]:
# 조회수 크롤링
try:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status.branch_none > span.cnt.hit'
    view_raw = driver.find_element(By.CSS_SELECTOR,element)
    view = view_raw.text
except:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.hit'
    view_raw = driver.find_element(By.CSS_SELECTOR,element)
    view = view_raw.text
    
print(view, type(view))

235,415 <class 'str'>

In [54]:
# 리뷰 개수 크롤링
try:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status.branch_none > span.cnt.review'
    review_raw = driver.find_element(By.CSS_SELECTOR,element)
    num_review = review_raw.text

except:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.review'
    review_raw = driver.find_element(By.CSS_SELECTOR,element)
    num_review = review_raw.text

print(num_review, type(num_review))

103 <class 'str'>

In [55]:
# 별표 개수 크롤링
try:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status.branch_none > span.cnt.favorite'
    star_raw =  driver.find_element(By.CSS_SELECTOR, element)
    num_star = star_raw.text

except:
    element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.favorite'
    star_raw =  driver.find_element(By.CSS_SELECTOR, element)
    num_star = star_raw.text

print(num_star, type(num_star))

5,026 <class 'str'>

In [56]:
# 음식 종류 및 메뉴 크롤링
element1 = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > table > tbody > tr:nth-child(3) > td > span'
type_raw = driver.find_element(By.CSS_SELECTOR,element1)
type_raw = type_raw.text
food_type = type_raw

try:
    element2 = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > table > tbody > tr:nth-child(9) > td > ul'
    menu_raw = driver.find_element(By.CSS_SELECTOR,element2)
    food_menu = menu_raw.text
    food_type = [type_raw, food_menu]
except:
    pass

print(food_type)

['해산물 요리', '고등어회 (대) + 탕\n77,000원\n고등어회 (소) + 탕\n55,000원\n고등어구이\n13,000원']

In [57]:
# 데이터 프레임 만들기
a = {'Title' : title,
     'Point' : total,
     'View' : view,
     'Review' : num_review,
     'Star' : num_star,
     'Type' : food_type}

df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df.head()

,Title,Point,View,Review,Star,Type
0,미영이네식당,4.7,"235,415",103,"5,026","[해산물 요리, 고등어회 (대) + 탕\n77,000원\n고등어회 (소) + 탕\n..."

# for문으로 크롤링 : 1페이지만

In [59]:
# 필요한 라이브러리를 임포트하기

import sys # 시스템
import os  # 시스템

# 데이터 다루기
import pandas as pd
import numpy as np

# selenium 크롤링
from selenium import webdriver  
from selenium.webdriver import ActionChains as AC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

# 크롬 드라이버
import chromedriver_autoinstaller

# beautifulsoup 크롤링
import requests
from bs4 import BeautifulSoup

# lxml 크롤링
import lxml.html

# 시간 조절
import time

# 시간 측정
from tqdm import notebook

# 정규표현식
import re

# 경고 무시
import warnings
warnings.filterwarnings('ignore')

In [60]:
# 지역 키워드를 입력하기
keyword = '횟집'

# page 정하기
page = 1

In [62]:
# 크롬창 띄우기
driver = webdriver.Chrome('./chromedriver')

# 키워드가 입력된 망고플레이트 사이트에 들어가기
driver.get(" https://www.mangoplate.com/search/{0}?keyword={0}&page={1}".format(keyword, page)) 
time.sleep(2)

# 광고창 iframe 접근하기
driver.switch_to.frame("google_ads_iframe_/395211568/init/desktop_all_0")

# '다시 보지 않기' 버튼 클릭하기
element = '#ad > div > button.ad_btn.ad_block_btn'
driver.find_element(By.CSS_SELECTOR, element).click()

In [63]:
driver.switch_to.default_content()

In [77]:
#음식점 1개에서 정보 크롤링 함수
def FoodCrawling(row, col):
    # 전체 담을 그릇
    total_dict = {}
    k = 0
    
    for i in range(row):
        driver.execute_script("window.scrollTo(0, 200)")
        for j in range(col):
            # 동영상 1개 담을 그릇
            sub_dict = {}
            
            # 음식점 클릭
            element = f'body > main > article > div.column-wrapper > div > div > section > div.search-list-restaurants-inner-wrap > ul > li:nth-child({i+1}) > div:nth-child({j+1}) > figure > a > div > img'
            driver.find_element(By.CSS_SELECTOR, element).click()
            time.sleep(0.5)

            # 가게 이름 크롤링
            element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.restaurant_title_wrap > span > h1'
            title_raw = driver.find_element(By.CSS_SELECTOR,element)
            title = title_raw.text

            # 가게 전체 평점 점수 크롤링
            element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.restaurant_title_wrap > span > strong > span'
            total_raw = driver.find_element(By.CSS_SELECTOR,element)
            total = total_raw.text
            
            # 조회수 크롤링
            try:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status.branch_none > span.cnt.hit'
                view_raw = driver.find_element(By.CSS_SELECTOR,element)
                view = view_raw.text
            except:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.hit'
                view_raw = driver.find_element(By.CSS_SELECTOR,element)
                view = view_raw.text

            # 리뷰 개수 크롤링
            try:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status.branch_none > span.cnt.review'
                review_raw = driver.find_element(By.CSS_SELECTOR,element)
                num_review = review_raw.text

            except:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.review'
                review_raw = driver.find_element(By.CSS_SELECTOR,element)
                num_review = review_raw.text

            # 별표 개수 크롤링
            try:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.favorite'
                star_raw = driver.find_element(By.CSS_SELECTOR,element)
                num_star = star_raw.text

            except:
                element = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > header > div.status > span.cnt.favorite'
                star_raw = driver.ffind_element(By.CSS_SELECTOR,element)
                num_star = star_raw.text
        
            # 음식 종류 및 메뉴 크롤링
            try:
                element1 = 'section.restaurant-detail > table > tbody > tr:nth-child(3) > td > span'
                type_raw = driver.find_element(By.CSS_SELECTOR,element1)
                type_raw = type_raw.text
                food_type = type_raw
            except:
                element1 = 'section.restaurant-detail > table > tbody > tr:nth-child(2) > td > span'
                type_raw = driver.find_element(By.CSS_SELECTOR,element1)
                type_raw = type_raw.text
                food_type = type_raw
            try:
                element2 = 'body > main > article > div.column-wrapper > div.column-contents > div > section.restaurant-detail > table > tbody > tr:nth-child(9) > td > ul'
                menu_raw = find_element(By.CSS_SELECTOR,element2)
                food_menu = menu_raw.text
                food_type = [type_raw, food_menu]
            except:
                pass
            
            # sub_dict에 담기
            sub_dict['title'] = title
            sub_dict['Point'] = total
            sub_dict['View'] = view
            sub_dict['Review'] = num_review
            sub_dict['Star'] = num_star
            sub_dict['Type'] = food_type
            
             # total_dict에 담기
            total_dict[k] = sub_dict
            k += 1
            time.sleep(1)
            
            # 뒤로 가기
            driver.back()
            time.sleep(0.5)
            
    df = pd.DataFrame.from_dict(total_dict, orient='index')
    driver.close()
    return df

In [79]:
df = FoodCrawling(row=10, col=2)
df

      title Point     View Review   Star    Type
0    미영이네식당   4.7  235,425    103  5,026  해산물 요리
1      남양수산   4.6  395,958    112  6,522  해산물 요리
2        곰막   4.4  191,330     91  4,787  해산물 요리
3     바다회사랑   4.4   87,517     78  2,230  해산물 요리
4   어시장전주식당   4.4   35,995     18  1,038  해산물 요리
5   마라도 회식당   4.4   49,970     28    583  해산물 요리
6    표선어촌식당   4.4   52,477     20    970  해산물 요리
7      전라상회   4.4   50,044     26  1,030  해산물 요리
8     바다회사랑   4.3  266,519    166  5,215  해산물 요리
9      형제상회   4.3  427,596    117  6,385  해산물 요리
10    동백섬횟집   4.3  100,569     28  2,000  해산물 요리
11     명성횟집   4.3   94,617     30  2,051  해산물 요리
12    섭지코지로   4.3   73,189     43  1,918  해산물 요리
13     환여횟집   4.3   32,042     39    417  해산물 요리
14     청양수산   4.3   12,382     13    161  해산물 요리
15    오징어세상   4.3   66,625     27  1,232  해산물 요리
16     남우수산   4.3   15,994      9    292  해산물 요리
17     은성횟집   4.3   24,483     27    534  해산물 요리
18   이한진숙성회   4.3   19,642     15    505  해산물 요리
19    횟집울릉도   4.3   29,864     17    562  해산물 요리